<!DOCTYPE html>
<html>
        <head>
                <h1> Choose your option:</h1>
        </head>
        <body>
                <div class="buttons">

                        <div class="action_btn">

                        <form method="POST" action="https://localhost:5005/showQRCode/" name="Show QR Code">
                                <input type="submit" value="Show QR Code"/>
                        </form> 
                        <form method="POST" action="https://localhost:5005/history/" name="History">
                                <input type="submit" value="History"/>
                        </form> 

                        </div>

                </div>
        </body>

</html>