{% extends 'layout.html' %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div style="margin:10px">
    <form method = 'POST'>
        <label for="gate_id">Gate ID:</label><br>
        <input type="text" id="gate_id" name="gate_id"><br>
        <input type="submit" value="Show Attempts" id=buttonShowAttempts>
    </form>
</div>
<div style = "margin:10px">
    <h3> List of Attempts
    </h3>
    <h3>{{gate_id}}</h3>
    <h3>{{err}}</h3>

    <table>
        <thead>
            <tr>   
                <th>Time</th>
                <th>Successful</th>
                <th>Log_id</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                <td>{{ attempt["time"] }}</td>
                <td>{{ attempt["successful"] }}</td>
                <td>{{ attempt["id"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</div>
  
{% endblock %}